<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error al ejecutar la solicitud</h1>
        <h2>Han ocurrido los siguientes errores:</h2>
        <span style="color:red;">@ViewBag.Errors</span>
    </hgroup>
</body>
</html>
